<table class="table table-borderless border">
  <tbody>
    <% food.comments.order(created_at: :desc).each do |comment| %>
    <tr class="col-md-12">
      <td class="col-md-1">
        <%= link_to user_path(comment.user) do %>
          <%= image_tag comment.user.get_image(50,50), class: 'rounded-circle' %><br>
          <%= comment.user.name %>
        <% end %>
      </td>
      <td class="col-md-9 align-middle"><%= comment.body %></td>
      <td class="col-md-2 align-middle">
        <% if comment.user == current_user %>
          <%= link_to "削除する", food_comment_path(food, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger float-end" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>