<style>
  h3{
    background: #FFDEAD;
  }
  #food_genre_id {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
    height: 100%;
    text-align-last: center;
    font-size: 15px;
  }
</style>
<div class="container px-5 px-sm-0">
  <div id="error_explanation">
    <%= render 'layouts/error_messages', obj: @food %>
  </div>
</div>

<div class="container">
  <div class = "row" >
    <div class = "col" >
      <h3 class="float-left font-weight-bold px-3 my-3 rounded-pill">投稿フォーム</h3><br>
      <p>※ゲストログインの方は投稿できません。</p>
    </div>
  </div>
  <div class = "row">
    <div class = "offset-2 float-center col-6">
      <%= form_with model: @food, url: foods_path, local: true do |f| %>
      <table class="table table-borderless">
          <tr>
            <th>テーマ</th>
            <td><%= f.text_field :title, size: "40x5" %></td>
          </tr>
          <tr>
            <th>食事写真</th>
            <td><%= f.file_field :image, accept: "image/*", size: "40x5" %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td>
              <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "--選択してください--" %>
            </td>
          </tr>
          <tr>
            <th>献立</th>
            <td><%= f.text_area :menu, size: "40x7", placeholder: "主食、副菜、主菜等で分類してもOK!" %></td>
          </tr>
          <tr>
            <th>アピールポイント</th>
            <td><%= f.text_area :point, size: "40x6", placeholder: "意識したことやポイントをまとめてもOK!コメントを書いてもOK!" %></td>
          </tr>
        </table>
        <div class="row">
          <% if current_user.email != 'guest@example.com' %>
            <%= f.submit '投稿する', class: 'btn btn-success mx-auto rounded px-4 my-4' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to "ホームに戻る", foods_path, class: 'btn btn-secondary mt-5' %>
</div>