<div class="container">
  <div class = "row" >
    <div class = "col-3 px-5 my-5 mx-auto" >
      <%= image_tag @food.get_food_image(200,200) %>
      <p>
        <%= link_to user_path(@user) do %>
          <%= image_tag @user.get_image(70, 70), class: 'rounded-circle' %>
          <%= @user.name %>
        <% end %>
      </p>
      <p><%= @food.created_at.strftime('%Y年%m月%d日') %></p>
    </div>
    <div class="col-7">
      <table class="table table-borderless text-left">
        <tr class="col-12">
          <th class="col-4">テーマ</th>
          <td><%= @food.title %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @food.genre.name %></td>
        </tr>
        <tr>
          <th>献立</th>
          <td><%= simple_format(@food.menu, sanitize: true) %></td>
        </tr>
        <tr>
          <th>アピールポイント</th>
          <td><%= simple_format(@food.point, sanitize: true)  %></td>
        </tr>
        <tr>
          <th></th>
          <td id="favorite_btn_<%= @food.id %>">
            <%= render "public/favorites/btn", food: @food %>
          </td>
        </tr>
        <tr>
          <% if @food.user == current_user %>
            <td><%= link_to "編集する", edit_food_path(@food.id), class: 'btn btn-sm btn-success' %></td>
            <td><%= link_to "削除する", food_path(@food.id), method: :delete, "data-confirm" => "本当に消しますか?", class: 'btn btn-sm btn-danger' %></td>
          <% end %>
        </tr>
      </table>
      <div id="comment_index_<%= @food.id %>">
        <%= render "public/comments/index", food: @food %>
      </div>
      <%= render "public/comments/form", food: @food, comment: @food_comment %>
    </div>
  </div>
  <%= link_to "ホームに戻る", foods_path, class: 'btn btn-secondary mt-5' %>
</div>