<style>
  h4{
    background: #FFDEAD;
  }
</style>
<div class="container">

  <div class="row no-gutters">
    <div class = "col-10 px-0 my-5 mx-auto">
      <h4 class= "float-left font-weight-bold px-3 rounded-pill">ログイン</h4>
    </div>
    <div class= "col-3 p-xl-1 text-centerbg-light">会員の方はこちらからログイン</div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row no-gutters form-group w-75 mx-auto ">
      <label for="inputEmail" class="col-2 col-form-label mx-5">メールアドレス</label>
      <div class="col-5">
        <%= f.email_field :email, class:"form-control rounded mx-5", id: "inputEmail", placeholder: "sample@example.com" %>
      </div>
    </div>
    <div class="row no-gutters form-group w-75 mx-auto">
      <label for="inputPassword" class="col-2 col-form-label mx-5">パスワード</label>
      <div class="col-5">
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control rounded mx-5", id: "inputPassword" %>
      </div>
    </div>
    <%= f.submit "ログイン", class: "btn btn-block btn-primary w-25 mx-auto my-5" %>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="float-right">
        登録が登録がお済みでない方は<%= link_to "こちら" , new_user_registration_path %> から新規登録を行なってください。
      </div>
    </div>
  </div>
</div>